html 
  head  
    title Restore Password       
    link(rel="stylesheet" href="/common.css")
    //- bootstrap
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous") 
  body 
    h1.header.restore-header Restore Password 
    
    div(style="height: 110px")
      if invalidValues 
        div.validation= validationMessage  

      if successInfo 
        div.success= successMessage

    div.center.restore_password_block
      b A six-digit number has been send to your email.
      br 
      b Enter it and set your new password.
      br

      form(action='/auth/restorePassword' method='POST')
        input(name="confirmCode" placeholder="Confirm code" type="number" maxlength="6" value= confirmCode)#code-input.restore-password-inputs
        br
        input(name="password" placeholder="Password" type="password" value= password).restore-password-inputs
        br
        input(name="passwordConfirm" placeholder="Password confirm" type="password" value= passwordConfirm).restore-password-inputs
        br
        input(name="email" style="display:none")#email-input

        button(type='submit')#submit-btn.button.disabled-button Submit

      //- get email from localStorage and put in form
      script.
        const emailInput = document.getElementById('email-input')
        const emailFromStorage = window.localStorage.getItem('email')
        emailInput.value = emailFromStorage


      //- disable submit button
      script(src="/js/disabledButton.js")
      